In [1]:
import pandas as pd

In [2]:
full_data = pd.read_csv('../src/train.csv')
full_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
age_pred_data_null = full_data[['Survived','Pclass','Sex','SibSp','Fare','Age']]
age_pred_data_null['Sex'] = [1 if gen == 'male' else 0 for gen in age_pred_data_null['Sex']]
age_pred_data = full_data[['Survived','Pclass','Sex','SibSp','Fare','Age']].dropna()
age_pred_data['Sex'] = [1 if gen == 'male' else 0 for gen in age_pred_data['Sex']]
X_age = age_pred_data[['Survived','Pclass','Sex','SibSp','Fare']]
y_age = age_pred_data['Age']

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [4]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X_age,y_age)
data_age_pred = age_pred_data_null[['Survived','Pclass','Sex','SibSp','Fare']]
age_pred = pd.DataFrame()
age_pred['Age'] = linreg.predict(data_age_pred)
full_data.Age.fillna(age_pred.Age,inplace=True)

In [5]:
useful_data = full_data[['Pclass','Sex','Age','Survived']]
useful_data['Age'] = useful_data['Age'].fillna(useful_data['Age'].mean()).astype('int')
useful_data['Sex'] = [1 if gen == 'male' else 0 for gen in useful_data['Sex']]
useful_data.head()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

   Pclass  Sex  Age  Survived
0       3    1   22         0
1       1    0   38         1
2       3    0   26         1
3       1    0   35         1
4       3    1   35         0

In [7]:
from sklearn.model_selection import cross_val_score
X = useful_data[['Pclass','Sex','Age']]
y = useful_data['Survived']
clf = GradientBoostingClassifier()
clf.fit(X,y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [16]:
clf2 = GradientBoostingClassifier(eta=0.2)
scores = cross_val_score(clf2, X, y)
scores.mean()

TypeError: __init__() got an unexpected keyword argument 'eta'

In [9]:
full_test_data = pd.read_csv('../src/test.csv')
full_test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [10]:
test_age_pred_data_null = full_test_data[['Pclass','Sex','SibSp','Fare','Age']]
test_age_pred_data_null['Sex'] = [1 if gen == 'male' else 0 for gen in test_age_pred_data_null['Sex']]
test_age_pred_data = full_test_data[['Pclass','Sex','SibSp','Fare','Age']].dropna()
test_age_pred_data['Sex'] = [1 if gen == 'male' else 0 for gen in test_age_pred_data['Sex']]
X_test_age = test_age_pred_data[['Pclass','Sex','SibSp','Fare']]
y_test_age = test_age_pred_data['Age']

test_linreg = LinearRegression()
test_linreg.fit(X_test_age,y_test_age)
test_data_age_pred = test_age_pred_data[['Pclass','Sex','SibSp','Fare']]
test_age_pred = pd.DataFrame()
test_age_pred['Age'] = test_linreg.predict(test_data_age_pred)
full_test_data.Age.fillna(test_age_pred.Age,inplace=True)

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [11]:
useful_test_data = full_test_data[['Pclass','Sex','Age']]
useful_test_data['Age'] = useful_test_data['Age'].fillna(useful_test_data['Age'].mean()).astype('int')
useful_test_data['Sex'] = [1 if gen == 'male' else 0 for gen in useful_test_data['Sex']]
useful_test_data.head()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

   Pclass  Sex  Age
0       3    1   34
1       3    0   47
2       2    1   62
3       3    1   27
4       3    0   22

In [12]:
full_test_data['Survived'] = clf.predict(useful_test_data)
pred_data = full_test_data[['PassengerId','Survived']]

In [13]:
pred_data.to_csv('../src/test_pred_tree.csv',index = False)

In [14]:
import matplotlib.pyplot as plt
plt.hist(useful_test_data['Age'],100)

(array([  5.,   3.,   2.,   1.,   0.,   0.,   1.,   3.,   0.,   1.,   2.,
          2.,   0.,   2.,   1.,   2.,   0.,   3.,   3.,   1.,   0.,   3.,
          7.,  16.,   0.,   6.,   8.,  21.,  26.,   0.,  13.,  33.,  11.,
          0.,  13.,  13.,   8.,   0.,  10.,  37.,   7.,   0.,  15.,   7.,
          3.,   0.,   5.,  10.,   3.,   0.,   7.,  10.,  11.,   8.,   0.,
          9.,   4.,   1.,   0.,   9.,   3.,   5.,   0.,   5.,   3.,   5.,
          0.,   1.,   0.,   3.,   0.,   2.,   6.,   0.,   0.,   3.,   1.,
          1.,   4.,   0.,   2.,   1.,   2.,   0.,   3.,   0.,   0.,   0.,
          1.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          1.]),
 array([  0.  ,   0.76,   1.52,   2.28,   3.04,   3.8 ,   4.56,   5.32,
          6.08,   6.84,   7.6 ,   8.36,   9.12,   9.88,  10.64,  11.4 ,
         12.16,  12.92,  13.68,  14.44,  15.2 ,  15.96,  16.72,  17.48,
         18.24,  19.  ,  19.76,  20.52,  21.28,  22.04,  22.8 ,  23.56,
         24.32,  25.08,  25.84,  26.6 ,  27.36,  28.12,  28.88,  29.64,
         30.4 ,  31.16,  31.92,  32.68,  33.44,  34.2 ,  34.96,  35.72,
         36.48,  37.24,  38.  ,  38.76,  39.52,  40.28,  41.04,  41.8 ,
         42.56,  43.32,  44.08,  44.84,  45.6 ,  46.36,  47.12,  47.88,
         48.64,  49.4 ,  50.16,  50.92,  51.68,  52.44,  53.2 ,  53.96,
         54.72,  55.48,  56.24,  57.  ,  57.76,  58.52,  59.28,  60.04,
         60.8 ,  61.56,  62.32,  63.08,  63.84,  64.6 ,  65.36,  66.12,
         66.88,  67.64,  68.4 ,  69.16,  69.92,  70.68,  71.44,  72.2 ,
         72.96,  73.72,  74.48,  75.24,  76.  ]),
 <a list of 100 Patch objects>)

In [15]:
bar_graph = [sum(pred_data.Survived==1),sum(pred_data.Survived==0)]
bar_graph

[144, 274]